body {
  font-family: "Poppins";
}

h1 {
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  color: #f59f95;
  text-align: center;
}

h2 {
  font-size: 14px;
  font-weight: 200;
  line-height: 20px;
  color: #f7ceaa;
  margin-bottom: 20px;
}

ul {
  margin-top: 20px;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #f7ceaa;
}

li:first-letter {
  text-transform: capitalize;
}

a {
  color: #f5c6aa;
}

a.hover {
  color: #ff965e;
}

.weather-wrapper {
  max-width: 600px;
  margin: 40px;
}
.weather-app {
  margin: 50px auto;
  padding: 50px;
  border: 1px solid transparent;
  border-radius: 10px;
}

.container {
  background-image: url(img/BPpass.jpg);
  background-repeat: no-repeat;
  background-size: 1400px;
  background-position: center;
}

.float-left {
  float: left;
}

#temperature {
  font-size: 80px;
  margin: 5px;
  color: #ff965e;
}

#temp-description,
#city {
  text-transform: capitalize;
}

.celcius-temp,
.fahrenheit-temp {
  font-weight: 300;
  position: relative;
  font-size: 16px;
  top: -32px;
  text-decoration: none;
  color: #f5c6aa;
}

.celcius-temp:hover,
.fahrenheit-temp:hover {
  color: #e0a800;
}

.weather-temperature .active {
  color: #e0a800;
  font-weight: bolder;
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  font-size: 14px;
  font-weight: 500px;
  margin: 20px;
  text-align: center;
  color: #f59f95;
}

.weather-forecast-date {
  font-size: 14px;
  text-align: center;
  font-weight: bolder;
}

.weather-forecast-temperatures {
  font-size: 13px;
  text-align: center;
}

.weather-forecast-temperature-min {
  opacity: 0.6;
}

.footer {
  margin: 0 auto;
  margin-top: 40px;
  font-size: 14px;
  font-weight: bolder;
  text-align: center;
  color: #fdc2bc;
}
